<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<dict>
		<key>SingleQuoteStringsValue</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&apos;</string>
			<key>EscapeChar</key>
			<string>\</string>
			<key>Name</key>
			<string>Quoted String</string>
			<key>Start</key>
			<string>&apos;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<key>DoubleQuoteStringsValue</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>EscapeChar</key>
			<string></string>
			<key>Name</key>
			<string>Quoted String</string>
			<key>Start</key>
			<string>&quot;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<key>BooleanValues</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>true</string>
				<string>false</string>
			</array>
			<key>Name</key>
			<string>Boolean Values</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<key>Null</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>null</string>
			</array>
			<key>Name</key>
			<string>Null</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<key>JsonStructure</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>0</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>{</string>
				<string>}</string>
				<string>[</string>
				<string>]</string>
				<string>&quot;</string>
				<string>,</string>
				<string>:</string>
			</array>
			<key>Name</key>
			<string>{ } [ ] , :</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<key>IdKey</key>
		<dict>
			<key>Color</key>
			<array>
				<real>0.2627450980392157</real>
				<real>0.6666666666666666</real>
				<integer>1</integer>
			</array>
			<key>Keywords</key>
			<array>
				<string>&quot;_id&quot;</string>
			</array>
			<key>Name</key>
			<string>Json Key</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<key>JsonKey</key>
		<dict>
			<key>Color</key>
			<array>
				<real>0.2627450980392157</real>
				<real>0.6666666666666666</real>
				<integer>1</integer>
			</array>
			<key>End</key>
			<string>&quot;</string>
			<key>Name</key>
			<string>Json Key</string>
			<key>Start</key>
			<string>&quot;$</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<key>Date</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<real>0.5647058823529412</real>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>)</string>
			<key>Name</key>
			<string>Date</string>
			<key>Start</key>
			<string>Date(</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<key>ObjectId</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<real>0.5647058823529412</real>
				<integer>0</integer>
			</array>
			<key>End</key>
			<string>)</string>
			<key>Name</key>
			<string>ObjectId</string>
			<key>Start</key>
			<string>ObjectId(</string>
			<key>Type</key>
			<string>String</string>
		</dict>
	</dict>
	<key>TextField</key>
	<dict>
		<key>Text</key>
		<dict>
			<key>Font</key>
			<dict>
				<key>name</key>
				<string>Menlo</string>
				<key>size</key>
				<integer>12</integer>
			</dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
		<key>Background</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</dict>
		<key>InsertionPoint</key>
		<dict>
			<key>Color</key>
			<array>
				<integer>1</integer>
				<integer>1</integer>
				<integer>1</integer>
			</array>
		</dict>
	</dict>
</dict>
</plist>
